* {
    margin: 0;
}

.mainBox {
    background-color:#eee ;
    padding-left: 15px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content:left;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    width: 1575px;
    height: 320px;
}
 h1 {
     padding-bottom: 5px;
     font-family: "OpenSans";
 }

 h4{
     padding-bottom: 5px;
 }

 input {
    width: 1553px;
    height: 15px;
    background-color: #eee;
    border: 1px #bbb solid;
    border-radius: 3px;
    font-weight: 300;
}

ol {
    display: flex;
    flex-direction: column;
    padding-left:15px ; 
    padding-bottom: 2px;
    padding-top: 5px;
}

li {
     height: 25px; 
     /* display: flex;
     flex-wrap: wrap;  */
    
    
}
button {
    background-color: #eee;
    color: #ff69b4;
    border-color: #ff69b4;
    border-radius: 6px;
    padding: 2px, 0px;
}

.close {
    margin-left: 1490px;
    
}

.add {
    background-color:#ff1493 ;
    color: white;
    height: 30px;
    margin-top: 5px;
    margin-right: 15px;
}

.strike {
    color: #bbb;
    text-decoration: line-through;
}